<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">

</head>
<body>

    <div class="container" id="app">

        <div class="row">
            <h1>Books</h1>

            <div class="well">

                <input type="search" v-model="MySearch" class="form-control" placeholder="Search">

            </div>

        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-fw fa-sort"
                               v-bind:class="{
                                    'fa-sort-amount-asc': orderCol === 'id' && orderInverse === 1 ,
                                    'fa-sort-amount-desc': orderCol === 'id' && orderInverse === -1
                               }">
                            </i>
                            <a href="#" v-on:click="filterOrderBy($event, 'id')">Id</a>
                        </th>
                        <th>
                            <i class="fa fa-fw fa-sort"
                               v-bind:class="{
                                    'fa-sort-amount-asc': orderCol === 'title' && orderInverse === 1 ,
                                    'fa-sort-amount-desc': orderCol === 'title' && orderInverse === -1
                               }">
                            </i>
                            <a href="#" v-on:click="filterOrderBy($event, 'title')">Title</a>
                        </th>
                        <th>
                            <i class="fa fa-fw fa-sort"
                               v-bind:class="{
                                    'fa-sort-amount-asc': orderCol === 'value' && orderInverse === 1 ,
                                    'fa-sort-amount-desc': orderCol === 'value' && orderInverse === -1
                               }">
                            </i>
                            <a href="#" v-on:click="filterOrderBy($event, 'value')">Value</a>
                        </th>
                        <th>
                            <i class="fa fa-fw fa-sort"
                               v-bind:class="{
                                    'fa-sort-amount-asc': orderCol === 'description' && orderInverse === 1 ,
                                    'fa-sort-amount-desc': orderCol === 'description' && orderInverse === -1
                               }">
                            </i>
                            <a href="#" v-on:click="filterOrderBy($event, 'description')">Description</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <!-- Fazendo um filtro usando filterBy do vue e a variavel declara lá em cima e até mesmo com parametros de filtro -->
                <!-- | (paipline) isso é usado para colocar os filtros no vue -->
                <!-- pluralize book.title coloca no plural, mas precisa de um parametro para saber o que deixar no plural -->
                <!-- capitalize deixa a primeira letra maiuscula -->
                <!-- currency transforma em moeda -->
                <!-- orderBy '' ele organiza de acordo com os parametros, o -1 deixa em ordem decrescente e 1 em ordem crescente -->
                    <tr v-for="book in books | filterBy MySearch 'title' 'description' | orderBy orderCol orderInverse ">
                        <td>{{ book.id }}</td>
                        <td>{{ book.title | uppercase }}</td>
                        <td>{{ book.value | currency  }}</td>
                        <td>{{ book.description }}</td>
                    </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li v-bind:class="{ 'disabled': pagination.current === 1 }">
                        <a href="#" v-on:click="previous" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="page in pagination.listPagination" v-bind:class="{ 'active': pagination.current === $index + 1 }">
                        <a href="#" @click="pagePagination($event, $index)">{{ $index + 1 }}</a>
                    </li>

                    <li v-bind:class="{ 'disabled': pagination.current === pagination.totalPages }">
                        <a href="#" @click="next" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>


<!-- fica dentro do div class="container"
        <div class="row">
            <h1>{{ msg }}</h1>
            <input class="form-control" type="text" v-model="msg">
        </div>
        <div class="row">
            <h1>Minha lista</h1>
            <ul>
                <li v-for="pessoa in pessoas">
                    {{ pessoa.nome }}
                </li>
            </ul>
        </div>
        <div class="row">
            <h1>Minha lista de elementos</h1>
            &lt;!&ndash; v-on para dizer o evento passando um parametro. Neste exemplo o "keyup.enter" quando apertar a tecla enter &ndash;&gt;
            <input class="form-control" type="text" v-model="newElement" v-on:keyup.enter="addElement">
            <ul>
                <li v-for="element in elements">
                    {{ element.title }}
                    <a href="#" v-on:click="removeElement($event, $index)">X</a> &lt;!&ndash; $event para usar um evento, pegando um index $index &ndash;&gt;
                </li>
            </ul>
        </div>
        <div class="row">
            <h1>v-on</h1>
            <button v-on:click="myClick">Clique</button>
            <button @click="myClick">@Clique</button> &lt;!&ndash; Faz o mesmo do v-on &ndash;&gt;
            <input type="text" @keyup="myKeyUp" placeholder="myKeyUp"> &lt;!&ndash; qualquer tecla, ele aciona o metodo myKeyUp &ndash;&gt;
            <input type="text" @keyup.enter="myKeyUp" placeholder="myKeyUp.enter"> &lt;!&ndash; Aciona o metodo apenas quando clica no enter &ndash;&gt;
            <input type="text" @keyup.13="myKeyUp" placeholder="myKeyUp.13"> &lt;!&ndash; Aciona o metodo apenas quando clica no enter pelo codigo da tecla do teclado &ndash;&gt;
        </div>
        <div class="row">
            <h1>v-bind</h1> &lt;!&ndash; Para criar implementações com classe, utilizando teste/condição, podendo ser mais de uma condição. Ex: &ndash;&gt;
            <p v-bind:class="{ 'text-danger': 2 === 1, 'text-info': true }">text</p>
            <p :class="{ 'text-danger': 2 === 1, 'text-info': true }">:text</p> &lt;!&ndash; v-bind na forma reduzida &ndash;&gt;
            <p :style="{ fontSize: 30 + 'px' }">Style</p> &lt;!&ndash; Mexendo com estilo &ndash;&gt;
            <p :style="{ 'font-size': 30 + 'px' }">Style css</p> &lt;!&ndash; Usando o nome do css mesmo &ndash;&gt;
            <p :style="[objectA, objectB]">Object A e Object B</p> &lt;!&ndash; Mudou a frase usando as variaveis de estilo &ndash;&gt;
            <p v-bind:="{id: 1 === 1, name: true}">bind attribute</p> &lt;!&ndash; Adicionou atributos, o id e o nome &ndash;&gt;
        </div>
        <div class="row">
            <h1>v-model</h1> &lt;!&ndash; seta variaveis que são declaradas no vue &ndash;&gt;
            <ul>
                <li v-for="myList in myListForm">
                    {{ myList.name }} - {{ myList.email }}
                </li>
            </ul>
            <input type="text" v-model="myForm.name" placeholder="Nome">
            <input type="text" v-model="myForm.email" placeholder="Email">
            <button @click="addForm">Add</button>
        </div>
        <br><br><br>
-->

    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="js/app.js"></script>

</body>
</html>